.profile_pic{
    height: 26px;
    width: 26px;
    border-radius:50%;
    border: 1px solid white;
  }
.link{
  font-size: 64px;
}
.hiba{
  font-size: 92px;
}
@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}
#red{
  background-color:#f60100;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0070f7;
  color: white;
}