input {
    display: block;
    box-sizing: border-box;
}

a{
    color: black;
}

h1{
    color: white;
}

.reg{
    background-color:chartreuse;
    border: 2px solid black;
}

html,body {
    height:100%;
    width:100%;
    margin:0;
}
body {
    display:flex;
    background-color: #002540;
}

p{
    color: white;
    font-size: large;
}

form {
    margin:auto;
    padding: 50px;
    border: 2px solid black;
    border-radius: 50px;
    background-color:royalblue;
}